*{
    transition: all 0.5s;
}
.nav-flex{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
}
.carrito{
    width: 50px;
    height: auto;
    margin: 10px;
    color: black;
    padding: 10px;
    border-radius: 40%;
    border: 2px solid black;
    transition: all 0.5s;
}
.carrito:hover{

    background-color: black;
    color: white;

}
.link{

    margin: 30px;

}
a{

    text-decoration: none;

}
.contenedor2{
    display: flex;
    border: solid black;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    align-items: center;
    
}
.contenedor0{
    
    background-color: black;
    padding: 50px;
    border-radius: 20px;
    margin: 50px;
    color: white;
}
.input{

    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    margin-top: 5px;

}
.inputOscuro{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    color: black;
    margin-top: 5px;

}
.contenedorLabelInput{

    margin-bottom: 10px;

}
.boton{

    border: none;
    outline: none;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;

}

.contenedorBoton{

    margin-top: 25px;

}

.contenedor3{
    text-align: center;
}

.botonOscuro{

    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}
.contenedorAdmin03 img{

    width: 200px;
    height: 200px;
    transition: all 0.5s;

}

.contenedorAdmin03 img:hover{

    width: 250px;
    height: 250px;

}

.contenedorAdmin03{
    width: fit-content;
    text-align: center;
    margin: 5px;
}

.contenedorAdmin02{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

.margen10{

    margin-top: 40px;
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
}

.inputFile{
    display: none;
}

.labelFile{

    background-color: white;
    color: black;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.contenedor4{
    background-color: black;
    padding: 50px;
    margin: 50px;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.botonHover:hover{

    text-decoration: underline;

}
.contenedorFooter{

    background-color: black;
    color: white;
    padding: 40px;
    width: 100%;
}
.contenedorFooter p{

    text-align: center;
    margin: 0px;
    padding: 0px;

}

.select{

    background-color: black;
    outline: none;
    padding: 10px;
    border-radius: 40px;
    color: white;
    border: 2px white solid;
    appearance: none;
}

.none{
    background-color: transparent;
    border: none;
    outline: none;
    width: none;
    margin: none;
    padding: none;
}
.none2{
    display: none;
}

.contenedor5{

    width: 98%;
    margin: 1%;
    display: flex;
    flex-wrap: nowrap;

}
.contenedor6{
    
    width:15%;
    font-size: small;

}
.contenedor7{

    width: 85%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    border: 7px solid black;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: black;
    text-align: center;

}

.contenedor8{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.carta{

    border-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    border: 5px solid white;
    height: 500px;
    width: 30%;
    transition: all 0.5s;
    margin: 10px;
}
.carta-body{

    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    height: 40%;
    width: 100%;
}
.carta-img{

    border-top-right-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 3px solid black;
    width: 100%;
    height: 60% ;

}
.boton01{

    width: 100%;

}

.carrito01{

    margin-top: 10px;


}
.blanco{

    color: white;
}

.carta:hover{

    width: 32%;
    height: 600px;
}


.contenedor9{
    display: flex;
    padding: 50px;
    margin:20px;
    border:5px solid black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 100vh;
    flex-wrap: nowrap;
}

.imagenCont9{
    width: 50%;
    border: 2px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 98%;
}
.contenedor10{

    margin-left: 20px;
    width: 50%;
    border: 2px solid black;
    height: 98%;
    padding:50px;
    background-color: black;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
.contenedor10 h2{

    text-align: center;

}
.contenedor10 h4{

    text-align: center;

}
.boton2{

    width: 100%;


}
.contenedor12{

    text-align: right;
    width: 100%;

}
.contenedor11{

    padding: 20px;
    border: 2px solid white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

}
.radio{

    border: 2px solid white;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
}
.contenedor10 h5{

    margin-top: 20px;
    text-align: right;
}



.tabla04 img{

    width: 100px;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    

}

.contenedor13{

    padding: 30px;

}

.contenedor14{

    margin: 20px;
    display: flex;
    padding: 50px;
    align-items: center;
    flex-wrap: nowrap;
    text-align: right;
    border: 5px solid black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.tabla00{

    margin-left: 13%;

}
.tabla01{

    margin-left: 13%;

}
.tabla02{

    margin-left: 13%;

}
.tabla03{

    margin-left: 13%;

}

.tabla05{

    margin-left: 20%;

}
.carritoFondo{

    background-color: white;

}
.contenedor15{

    display: flex;
    align-items: center;

}
.contenedor16{

    margin-left: 70%;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}
